* {font-family: sans-serif; box-sizing: border-box; scroll-behavior: smooth;}

/* #region variables */

:root {
    --border_radius: 10px;
    --main_color: rgb(39, 39, 39);
}

/* #endregion */

body {
    margin: 0;
    background-color: var(--main_color);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a, a:visited {
    color: #FFF;
    text-decoration: none;
}